adjustText
aenum
alabaster
attrs
Babel
beautifulsoup4
bitarray
bleach
bokeh
branca
cachetools
cairocffi
CairoSVG
cartopy
certifi
cffi
chardet
Click
click-plugins
cligj
coreapi
coreschema
coverage
cssselect2
cycler
datefinder
defusedxml
diff-match-patch
dill
Django
django-admin
django-admin-numeric-filter
django-appconf
django-auth-ldap
django-autocomplete-light
django-bootstrap3
django-common-helpers
django-compressor
django-crispy-forms
django-cron
django-dbbackup
django-debug-toolbar
django-excel-response2
django-extensions
django-filter
django-geojson
django-guardian
django-import-export
django-leaflet
django-markdownx
django-materialize
django-menu-generator
django-plotly-dash
django-admin-tools
#django-pam
crispy-forms-materialize
#-e git://github.com/Dandresfsoto/crispy-forms-materialize.git@master#egg=crispy-forms-materialize # Latest Version from Git (Timeout?)
django-qr-code
django-rest-swagger
django-reversion
django-reversion-compare
django-sendmail-backend
django-simple-autocomplete
django-simple-history
django-split-settings
django-sql-explorer
django-tables2
django-tracking2
django-treenode
django-modeltranslation
django-webtest
djangorestframework
docopt
docutils
et-xmlfile
feedparser
fiona
folium
geopandas
hdfs
html5lib
ibis-framework
ibis-framework[impala]
idna
imagesize
impyla
itypes
ipython
jdcal
Jinja2
jupyter
jsonfield
kiwisolver
python-ldap
lxml
Markdown>=3.2.2
MarkupSafe
martor==1.4.9
matplotlib
multipledispatch
munch
numpy
odfpy
openapi-codec
openpyxl
packaging
palettable
pandas
pdfrw
Pillow
ply
psycopg2
pycparser
pydot
Pygments
pymssql
pyodbc
pypandoc
pyparsing
Pyphen
pyproj==2.6.1
python-dateutil
python-docx
python-pam
python-pptx
pytz
PyYAML
qrcode
rcssmin
regex
reportlab
requests>=2.24.0
requests-cache
rjsmin
rst2pdf
screen # LINUX
#-e git+ssh://git@analytics-gitlab/integration/piprepository/screen-1.0.1.git#egg=screen # WINDOWS
seaborn
selenium
setuptools
Shapely
simplejson
simplekml
snowballstemmer
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-plantuml
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlalchemy-pyodbc-mssql
sqlparse
tblib
tablib
thrift
thriftpy2
tinycss2
toolz
tornado
tqdm
unicodecsv
uritemplate
urllib3
waitress
WeasyPrint
webencodings
WebOb
WebTest
wheel
xlrd
XlsxWriter
xlwt
